body {
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  color: #434455;
  margin: 0;
  padding: 0;
}
img{
    display: block;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
  display: flex;
}



.accent-first {
  color: #2e2f42;
  align-items: center;

}

.accent-second {
  color: #f4f4fd;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
  cursor: auto;
  text-decoration: none;
display: flex;
    padding: 24px;
}

.logo_div {
    margin-top: 76px;
}

.hero-container {
  display: flex;
  gap: 332px;
  align-items: center;
}
.header-item {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.header-link-item-first:hover a,
.header-link-item-first :focus {
  color: #404bbf;
}

.header-itemsc {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-decoration: none;
  list-style: none;
}

.header-link-itemsc :hover,
.header-link-itemsc :focus {
  color: #404bbf;
}

.contacts ul {
  list-style: none;
}

.list-frst {
  font-family: "Roboto", sans-serif;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
  
}

.list-scnd {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.32px;
  list-style-type: none;
display: flex;
    gap: 40px;
    padding: 24px;
}

.list-scnd-div{
    display: flex;
        gap: 40px;
        margin-right: 40px 40px 0;
}
.header-link-item-first-div{
    padding: 24px 0;
}
.nav-list{
    display: flex;
    align-items: center;
    border-bottom: 1px solid #e7e9fc;
}

.contacts {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
  font-style: normal;
}

.list-contacts {
  display: flex;
}

.list-contacts-li{
    gap: 40px;
    margin-top: 40px;
}
/*------------ --------------*/
.middle-part {
  background-color: #2e2f42;
}

.text-fr {
  color: #fff;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 56px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 1.12px;
}

.btn-fr {
  background-color: #4d5ae5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #ffffff;
  cursor: pointer;
}

/*--------------------------- --------------------------*/

.hidden-text {
  visibility: hidden;
}

.middle-part-scnd {
  background-color: #fff;
}
.text-scnd {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.list-frd {
  background-color: #ffffff;
}

.text-thrd {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*---------------------- ----------------------*/

.middle-part-thrd {
  background-color: #f4f4fd;
}

.text-f {
  color: #2e2f42;
  text-align: center;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.72px;
}

.text-fv {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.text-sx {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*------------------------- ---------------------------*/

.text-title {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  text-transform: capitalize;
  letter-spacing: 0.72px;
}

.text-sv {
  color: #2e2f42;
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.text-et {
  color: #434455;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

/*------------------------- ---------------------------*/

.last-part {
  background: #2e2f42;
  padding: 100px 0;
}

.text-nn {
  color: #f4f4fd;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

logo_scnd{
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
        cursor: auto;
        text-decoration: none;
        display: inline-block;
        margin-bottom: 16px;
}